body {
    margin: 0;
    padding: 0;
    height: 200px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(20, 91, 243) 0%, rgb(0, 132, 255) 35%, rgba(0,212,255,1) 100%);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.bot {
    text-align: center;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}

.invite {
    margin-top: 305px;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px;
    border: 4px solid white;
    background-color: white;
    font-weight: 600;
    display: flex;
}
