@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans&family=Work+Sans:wght@700&display=swap');

h1{
    margin: 0;
    padding: 0;
}

.inner{
    padding-right: 32px;
    padding-left: 32px;
}

.header{
    background-color: #000000;
    width: 100%;
}

.header-content{
    position: absolute;
    width: 100%;
    background: #000;
    border: 1px solid #000;
    box-sizing: border-box;
    box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.5);
    padding-top: 16px;
    padding-bottom: 16px;
}

.header__support{
    font-family: 'Lato', sans-serif;
    font-size:  18px;
    font-style: normal;
    color:white;
    text-decoration: none;
    font-weight: 500;
    margin-right: 20px;
    transition: .3s color;
}

.header__support:hover{
    color: #b3b1b1;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    margin-top: 140px;
}

.info-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    height: 450px;
}


.info__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.info__title{
    color: #000;
    font-family: 'Noto Sans', sans-serif;
    overflow: hidden;
}

.info__about{
    margin-top: 60px;

    line-height: 42px;
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    text-align: center;

    color: #000000;

    opacity: 0.7;
}

@media screen and (min-width: 780px) {
    .info__about {
        width: 40em;
    }

    .info__btn {
        padding: 18px 44px 18px 44px;
        font-size:48px;
    }

    .info__title {
        font-size: 80px;
    }
}

@media screen and (max-width: 779px) {
    .info__about {
        width: 17em;
        font-size: 16px;
    }

    .info__btn {
        margin-top: 70px;
        padding: 6px 26px 6px 26px;
        font-size:40px;
    }

    .info__title {
        font-size: 50px;
    }

    .inner{
        padding-right: 6px;
    }
}

.info__btn{
    border:none;

    background-color: #000;

    font-family: 'Work Sans', sans-serif;
    font-weight: 700;

    transition: .5s background-color, .5s color;
    cursor: pointer;

    color: white;
    text-decoration: none;
}

.info__btn:hover{
    color: #b3b1b1;
}